
.home-container{
    background-image: url("../../images/channel_photo_low_ql.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
  height: 88vh;
  overflow: scroll;
  
}

.history-image{
    display: block;
    max-height: 100%;
    padding: 1rem;
}

.history-text{
    display: block;
    margin-left: auto;
    align-content: flex-end;
    text-align: justify;
}

p{
    font-size: 1rem;
    text-align: justify;
    color: #ccc;
}

.home{
    min-height:fit-content;
    padding: 0.5rem 0.5rem;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: [left] 33% [right] 67%;
}

.support-artists-image{
    float: right;
    max-width: 40%;
    min-width: 300px;
    padding: 30px;
    overflow: scroll;
    
}

.support-artists{
    background-color: black;
    color: white;
    height: fit-content;
    padding: 2.5rem 3.5rem;
    display: grid;
    grid-template-columns: [left] 67% [right] 33%;
}
.home-buttons{
    min-height:400px;
    padding: 2vw 2vw;
    background-color:#08293baa;
    color: #ffffffff;
    align-content: center;
    display: grid;
    grid-template-columns: [left] 33% [middle] 33% [right] 33% ;
    
}

.home-buttons-section{
    display:grid;
    height:200px;
    grid-template-rows: [top] 15% [middle] 70%[right] 15%;

}

.button-section-icon{
    align-content: center;
    font-size: 7vw;
    margin-left: auto;
    margin-right: auto;
}

.explore-nft{
    text-align:  bottom;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    background-color: #22228800;
    font-size: 3.6vw;
    text-align: justify;
}

.explore-nft-button{
    width: 100%;
    padding:5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    bottom:0vw;
    text-align: center;
    font-size: 4vw;
    width:max-content;
    border-radius: 1vw;
    position: relative;
    margin:0;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
}

.test{
    display: grid;
    place-items: center;
    
}

.contact-me-container{
        
    background-color: #000;
    padding:8vw;
    text-align: center;
}


.contact-us-buttons{

    padding-top:3vw;
    padding-bottom: 0.2vw;
    display: grid;
    grid-template-columns: [left] 25% [middle] 25% [middle] 25% [right] 25%;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.social-media-button{
    background-color: #0000;
    height: min-content;
    width: min-content;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    padding:1%;
}

.contact-us-legends{

    padding-bottom:3vw;
    padding-top:0;
    display: grid;
    grid-template-columns: [left] 25% [middle] 25% [middle] 25% [right] 25%;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.social-media-legend{
    font-size: 2vw;
    height: min-content;
    width: max-content;
    margin-right: auto;
    margin-left: auto;

}



@media only screen and (min-width: 900px) {

    .home-container{
        background-image: url("../../images/channel_photo_low_ql.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    background-attachment: fixed;
    height: 94vh;
  overflow: scroll;
    
    }

    .history-image{
        display: inline-block;
        max-height: 100%;
        padding: 1rem;
    }

    .history-text{
        display: inline-block;
        margin-left: auto;
        align-content: flex-end;
        text-align: justify;
    }

    p{
        font-size: 1rem;
        text-align: justify;
        color: #ccc;
    }

    .home{
        min-height:fit-content;
        padding: 2.5rem 3.5rem;
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: [left] 33% [right] 67%;
    }

    .support-artists-image{
        float: right;
        max-width: 40%;
        min-width: 300px;
        padding: 30px;
        overflow: scroll;
        
    }

    .support-artists{
        background-color: black;
        color: white;
        height: fit-content;
        padding: 2.5rem 3.5rem;
        display: grid;
        grid-template-columns: [left] 67% [right] 33%;
    }

    .home-buttons{
        height:500px;
        max-height: max-content;
        padding: 3vw 3vw;
        background-color:#08293baa;
        color: #ffffffff;
        align-content: center;
        display: grid;
        grid-template-columns: [left] 33% [middle] 33% [right] 33% ;
        
    }

    .home-buttons-section{
        display:grid;
        height:max-content;
        grid-template-rows: [top] 40% [middle] 50%[right] 10%;

    }

    .button-section-icon{
        align-content: center;
        vertical-align: top;
        font-size: 5vw;
        margin-left: auto;
        margin-right: auto;
    }

    .explore-nft{
        text-align:  bottom;
        vertical-align: bottom;
        margin: 0;
        margin-left:auto;
        margin-right:auto;
        width: 75%;
        background-color: #22228800;
        font-size: 1.7vw;
        text-align: justify;
    }

    .explore-nft-button{
        width: 90%;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        bottom:0vw;
        text-align: center;
        font-size: 2vw;
        width:max-content;
        border-radius: 15px;
        position: relative;
        margin:0;
        border-style: none;
        margin-left: auto;
        margin-right: auto;
    }

    .test{
        display: grid;
        place-items: center;
        
    }

    .contact-me-container{
        
        background-color: black;
        overflow: scroll;
        align-content: center;
        padding:8vw;
        text-align: center;
    }

    .contact-us-buttons{

        padding:3vw;
        padding-bottom: 0.2vw;
        display: grid;
        grid-template-columns: [left] 25% [middle] 25% [middle] 25% [right] 25%;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }

    .social-media-button{
        background-color: #0000;
        height: min-content;
        width: min-content;
        margin-right: auto;
        margin-left: auto;
        border-style: none;
    }

    .contact-us-legends{

        padding:3vw;
        padding-top:0;
        display: grid;
        grid-template-columns: [left] 25% [middle] 25% [middle] 25% [right] 25%;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }

    .social-media-legend{
        font-size: 0.9vw;
        height: min-content;
        width: max-content;
        margin-right: auto;
        margin-left: auto;

    }


}