.home-container{
    background-image: url("../../images/channel_photo_low_ql.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.history-image{
    display: inline-block;
    max-height: 100%;
    padding: 1rem;
}

.history-text{
    display: inline-block;
    margin-left: auto;
    align-content: flex-end;
    text-align: justify;
}

p{
    font-size: 1rem;
    text-align: justify;
    color: #ccc;
}

.home{
    min-height:fit-content;
    padding: 2.5rem 3.5rem;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: [left] 33% [right] 67%;
}

.support-artists-image{
    float: right;
    max-width: 40%;
    min-width: 300px;
    padding: 30px;
    overflow: scroll;
    
}

.support-artists{
    background-color: black;
    color: white;
    height: fit-content;
    padding: 2.5rem 3.5rem;
    display: grid;
    grid-template-columns: [left] 67% [right] 33%;
}

.home-buttons{
    min-height:400px;
    padding: 15px 100px;
    background-color:#08293baa;
    color: #ffffffff;
    align-content: center;
}

.explore-nft{
    text-align: center;
    padding: 5px 20px 5px 20px;
    margin: 50px 300px 100px 300px;
    background-color: #222288aa;
}

.explore-nft-button{
    padding: 20px 10px;
    text-align: center;
    font-size: 40px;
    min-width: 55%;
    max-width:80%;
    border-radius: 15px;
    position: relative;
}

.test{
    display: grid;
    place-items: center;
    
}