.channel{
    height: 700px;
  overflow: scroll;
    background-color:black;
}


.index{
    position: absolute;
    margin:0;
    padding:0;
    display: inline-block;
    width: 23%;
    height: 100%;
    background-color: black;
    overflow: scroll;
    
}

.blog-category{
    background-color: #111;
    height: min-content;
    font-size: 0;
    padding: 0.2vw;
}

.category-button{
    background-color: black;
    border-style: hidden;
    color: white;
    font-size: 1.3vw;
    width: 100%;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #222;
   
}

.blog-index-item{
    background-color: #000;
    border-style: hidden;
    color: white;
    font-size: 0.9vw;
    width: 100%;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #222;
    border-width: 1px;
    padding:0.3vw;
}

.blog-content{
    position: absolute;
    margin-left:23%;
    display: inline-block;
    width: 77%;
    height: 100%;
    background-color: #001;
    overflow: scroll;
    border-left-style: solid;
    border-color: #bbb;
    border-width: 1px;
}

.blog-post-title{
    text-align: center;
    padding-top: 0.5vw;
    margin-right:15vw;
    font-size: 2vw;
}