.galleryItem{
    width: fit-content;
    height: min-content;
    display:inline-flex;
    list-style-type: none;
    align-content: center;
    border-width: 1px;
    border-color: lavender;
    padding:1rem;
}

.gallery{
    width:100%;
}

.list{
    display: table;
    width: 100%;
    font-size: 0;
    margin-left: -2rem;
}