.imageNFT{
    max-width: 300px;
    display:inline;
    padding-inline: 50px;
    margin: auto;
    min-height: max-content;
}

.NFTTitle{
    font-size:33px;
    padding-top: 0px;
    align-self: center;
    text-align: center;
}

.description{
    display:inline;
    align-self: center;
    text-align: left;
    padding: 0px 50px 0px 50px;
}

.link{
    display:inline;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 0px;
}

.price{
    font-size: 28px;
    margin-left: 50px;
    margin-top: 2px;
    text-align: left;
}

.button{
    border-radius: 10px;
    border-style: hidden;
    padding: 5px 20px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    max-width:300px;
    background-color: #e9ec05;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.justify-content-md-center{
    align-content: center;
}

.text-center{
    text-align: center;
}

