@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Bilbo&family=Changa:wght@200&family=Cuprum&family=East+Sea+Dokdo&family=Economica&family=Fondamento&family=Girassol&family=Gudea:wght@400;700&family=IBM+Plex+Mono:wght@300&family=IM+Fell+DW+Pica&family=IM+Fell+English+SC&family=Just+Another+Hand&family=Nanum+Pen+Script&family=New+Rocker&family=Pathway+Gothic+One&family=Rajdhani&family=Rancho&family=Rock+Salt&family=Saira+Semi+Condensed:wght@300;400&family=Sedgwick+Ave+Display&family=Teko:wght@300&family=Walter+Turncoat&display=swap');

.nft-container{
     
    min-width: 100%;
    height: min-content;
    padding: 3%;

}


.NFTTitle{
    font-size:4vw;
    line-height: 4vw;
    padding-bottom: 2%;
    align-self: center;
    text-align: center;
    max-width: 94%;
    text-shadow: 0px 0px 0.4rem rgb(255, 255, 255);
}


.imageNFT{
    max-width: 94%;
    display:block;
    align-content: center;
}

.nft-id{
    margin-top: 0vw;
    text-align: center;
    overflow: clip;
    text-overflow: ellipsis;
    font-size: 1.8vw;
    padding-top:0.6vw;
    padding-bottom:0.6vw;
    max-width: 94%;
    white-space: nowrap;
    height: 3vw;
}

.msg-title{
    display:block;
    
    align-self: center;
    text-align: left;
    height: min-content;
    font-size: 2.2vw;
    color: rgb(226, 226, 226);
}

.message{
    display:block;
    max-width: 92%;
    align-self: center;
    text-align: left;
    padding: 0.6vw;
    font-size: 3vw;
    font-family: 'Caveat', cursive;
    line-height: 3.8vw;
}

.no-message{
    display:block;
    max-width: 92%;
    align-self: center;
    text-align: left;
    padding: 0.3vw;
    text-overflow: ellipsis;
    font-size: 3vw;
    color: #abad18;
    height: min-content;
    
}

.artist-royalty-container{
    max-width: 94%;
    padding: 0vw;
    display:block;
    height: min-content;
    line-height: 2.2vw;
}

.artist-container{
    display: inline-block;
    width: 50%;
    font-size: 0rem;
    padding: 0.4vw;
}

.royalty-container{
    display: inline-block;
    width: 40%;
    font-size: 2.2vw;
}

.royalty{
    display: inline-block;
    width: 60%
}

.royalty-value{
    text-align: end;
    display: inline-block;
    width: 35%
}


.artist{
    display: inline-flex;
    padding:0;
    margin:0;
    align-self: center;
    max-width: 50%;
    min-width: 40%;
    text-align: left;
    font-size: 2.2vw;
}

.link:visited,
.link:link{
    display:inline-flex;
    text-align: center;
    color: white;
    padding:0;
    margin:0;
    
    min-width: 50%;
    max-width: 60%;
    text-decoration: none;
    transition: font-size 0.3s;

    font-size: 2.2vw;
}

.link:hover,
.link:focus
.link:active{
    font-size: 2.5vw;
    color: rgb(97, 97, 252);
}

.clearfix{zoom: 1}
.clearfix.after{
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
}

.description{
    display:block;
    align-self: center;
    text-align: left;
    max-width: 94%;
    padding-top: 1vw;
    font-size: 2.2vw;
    color: rgb(226, 226, 226);
}


.price{
    font-size: 13vw;
    margin-top: 0.5%;
    text-align: center;
    max-width: 94%;
    text-shadow: 0 0 0.2rem rgb(255, 255, 182);
}


.button-container{
    width: 94%;
}

.button{
    border-radius: 10px;
    border-style: hidden;
    padding: 1vw 4vw;
    font-size: 3.4vw;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    
    width:100%;
    background-color: #e9ec05;
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
    align-content: center;
    transition: all 0.3s;
}

.button:hover{
    color: blue;
    text-shadow: 0px 0px 5px green;
    transform: scale(1.04);
}

.button:active{
    text-shadow: 0px 0px 15px green;
    background-color: #fbff00;
}
.button-owned{
    margin-top:10px;
    border-style: hidden;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    background-color:#0000aa30;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    min-width: 80%;
    max-width:fit-content;
    color: green;
    text-shadow: 0px 0px 5px blue;
}

.justify-content-md-center{
    align-content: center;
}

.text-center{
    text-align: center;
    display:block;
    width: 94%;
}

.imageContainer{
    align-content: center;
    
}

.setMessage{
    margin: 0.4rem;
    padding: 2px 20px;
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(2, 68, 155);
    border-radius: 0.7rem;
    color: white;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width:100%;
}

.setPrice{
    margin: 0.4rem;
    padding: 2px 20px;
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(2, 68, 155);
    border-radius: 0.7rem;
    color: white;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width:100%;
}

.forsale-transfer-container{
    display: block;
    width:94%;
    margin: 0.4rem;
}

.for-sale-container{
    display: inline-block;
    width:50%;
}
.for-sale-label{
    display: inline-block;
    padding: 0.2rem;
    font-size: 1.3rem; 
    text-align: left;
    align-content: left;
    max-width: fit-content;
  }

  .check-for-sale{
      display: inline-block;
      padding-left:0.1rem;

  }

  .check-for-sale input{
    width: 20px;
    height: 20px;
}
.transfer-container{
    display: inline-block;
    width: 47%;
    
}

.transfer-button{
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(2, 68, 155);
    border-radius: 10px;
    color: white;
    border-style: hidden;
    margin-left: auto;
    margin-right: 15px;
    align-content: center;
    width:100%;
    display: block;
}



.dont-show{
    display: none;
}

@media only screen and (min-width: 900px) {

    .nft-container{
     
        min-width: 100%;
        height: min-content;
        padding: 3%;
    
    }
    
    
    .NFTTitle{
        font-size:2vw;
        line-height: 2vw;
        padding-bottom: 2%;
        align-self: center;
        text-align: center;
        max-width: 94%;
        text-shadow: 0px 0px 0.4rem rgb(255, 255, 255);
    }
    
    
    .imageNFT{
        max-width: 94%;
        display:block;
        align-content: center;
    }
    
    .nft-id{
        margin-top: 0vw;
        text-align: center;
        overflow: clip;
        text-overflow: ellipsis;
        font-size: 0.9vw;
        padding-top:0.3vw;
        padding-bottom:0.3vw;
        max-width: 94%;
        white-space: nowrap;
        height: 1.5vw;
    }
    
    .msg-title{
        display:block;
        
        align-self: center;
        text-align: left;
        height: min-content;
        font-size: 0.9vw;
        color: rgb(226, 226, 226);
    }
    
    .message{
        display:block;
        max-width: 92%;
        align-self: center;
        text-align: left;
        padding: 0.3vw;
        font-size: 1.2vw;
        font-family: 'Caveat', cursive;
        line-height: 1.9vw;
    }
    
    .no-message{
        display:block;
        max-width: 92%;
        align-self: center;
        text-align: left;
        padding: 0.3vw;
        text-overflow: ellipsis;
        font-size: 1.1vw;
        color: #abad18;
        height: min-content;
    }
    
    .artist-rotalty-container{
        max-width: 94%;
        padding: 1vw;
        display:block;
    }
    
    .artist-container{
        display: inline-block;
        width: 50%;
        font-size: 0rem;
        padding: 0.2vw;
    }
    
    .royalty-container{
        display: inline-block;
        width: 40%;
        font-size: 0.9vw;
    }
    
    .royalty{
        display: inline-block;
        width: 60%
    }
    
    .royalty-value{
        text-align: end;
        display: inline-block;
        width: 35%
    }
    
    
    .artist{
        display: inline-flex;
        padding:0;
        margin:0;
        align-self: center;
        max-width: 50%;
        min-width: 40%;
        text-align: left;
        font-size: 0.9vw;
    }
    
    .link:visited,
    .link:link{
        display:inline-flex;
        text-align: center;
        color: white;
        padding:0;
        margin:0;
        
        min-width: 50%;
        max-width: 60%;
        text-decoration: none;
        transition: font-size 0.3s;
    
        font-size: 0.9vw;
    }
    
    .link:hover,
    .link:focus
    .link:active{
        font-size: 1vw;
        color: rgb(97, 97, 252);
    }
    
    .clearfix{zoom: 1}
    .clearfix.after{
        content: '.';
        clear: both;
        height: 0;
        visibility: hidden;
    }
    
    .description{
        display:block;
        align-self: center;
        text-align: left;
        max-width: 94%;
        padding-top: 0.5vw;
        font-size: 0.9vw;
        color: rgb(226, 226, 226);
    }
    
    
    .price{
        font-size: 3.3vw;
        margin-top: 0.5%;
        text-align: center;
        max-width: 94%;
        text-shadow: 0 0 0.2rem rgb(255, 255, 182);
    }
    
    
    .button-container{
        width: 94%;
    }
    
    .button{
        border-radius: 10px;
        border-style: hidden;
        padding: 0.5vw 2vw;
        font-size: 1.7vw;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bolder;
        
        width:100%;
        background-color: #e9ec05;
        margin-left: auto;
        margin-right: auto;
        margin-top:1%;
        align-content: center;
        transition: all 0.3s;
    }
    
    .button:hover{
        color: blue;
        text-shadow: 0px 0px 5px green;
        transform: scale(1.04);
    }
    
    .button:active{
        text-shadow: 0px 0px 15px green;
        background-color: #fbff00;
    }
    .button-owned{
        margin-top:10px;
        border-style: hidden;
        border-radius: 10px;
        font-size: 35px;
        font-family: 'Rajdhani', sans-serif;
        background-color:#0000aa30;
        margin-left: auto;
        margin-right: auto;
        max-width:300px;
        min-width: 80%;
        max-width:fit-content;
        color: green;
        text-shadow: 0px 0px 5px blue;
    }
    
    .justify-content-md-center{
        align-content: center;
    }
    
    .text-center{
        text-align: center;
        display:block;
        width: 94%;
    }
    
    .imageContainer{
        align-content: center;
        
    }
    
    .setMessage{
        margin: 0.4rem;
        padding: 2px 20px;
        font-size: 1.3rem;
        font-family: 'Rajdhani', sans-serif;
        background-color: rgb(2, 68, 155);
        border-radius: 0.7rem;
        color: white;
        border-style: hidden;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        width:100%;
    }
    
    .setPrice{
        margin: 0.4rem;
        padding: 2px 20px;
        font-size: 1.3rem;
        font-family: 'Rajdhani', sans-serif;
        background-color: rgb(2, 68, 155);
        border-radius: 0.7rem;
        color: white;
        border-style: hidden;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        width:100%;
    }
    
    .forsale-transfer-container{
        display: block;
        width:94%;
        margin: 0.4rem;
    }
    
    .for-sale-container{
        display: inline-block;
        width:50%;
    }
    .for-sale-label{
        display: inline-block;
        padding: 0.2rem;
        font-size: 1.3rem; 
        text-align: left;
        align-content: left;
        max-width: fit-content;
      }
    
      .check-for-sale{
          display: inline-block;
          padding-left:0.1rem;
    
      }
    
      .check-for-sale input{
        width: 20px;
        height: 20px;
    }
    .transfer-container{
        display: inline-block;
        width: 47%;
        
    }
    
    .transfer-button{
        padding: 0.2rem 0.5rem;
        font-size: 1.3rem;
        font-family: 'Rajdhani', sans-serif;
        background-color: rgb(2, 68, 155);
        border-radius: 10px;
        color: white;
        border-style: hidden;
        margin-left: auto;
        margin-right: 15px;
        align-content: center;
        width:100%;
        display: block;
    }
    
    
}
