.change-language{
    border-radius: 1rem;
    padding:0.1rem;
    padding-left:1.8rem;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 0.7rem;
}


.change-language:focus{
    outline: none;
}

.english{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Great_Britain_%281707%E2%80%931800%29.svg/1024px-Flag_of_Great_Britain_%281707%E2%80%931800%29.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.espanol{
    background-image: url("https://wallpaperaccess.com/full/1099379.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.language-container{
    display: inline-block;
    width: min-content;
    margin-top: 5px;
    margin-right:auto;
}