@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Bilbo&family=Changa:wght@200&family=Cuprum&family=East+Sea+Dokdo&family=Economica&family=Fondamento&family=Girassol&family=Gudea:wght@400;700&family=IBM+Plex+Mono:wght@300&family=IM+Fell+DW+Pica&family=IM+Fell+English+SC&family=Just+Another+Hand&family=Nanum+Pen+Script&family=New+Rocker&family=Pathway+Gothic+One&family=Rajdhani&family=Rancho&family=Rock+Salt&family=Saira+Semi+Condensed:wght@300;400&family=Sedgwick+Ave+Display&family=Teko:wght@300&family=Walter+Turncoat&display=swap');

.nft-container{
    min-width: min-content;
    height: min-content;
    padding: 3%;
    margin:auto;
}

.imageNFT{
    max-width: 100%;
    display:block;
    align-content: center;
    margin: auto;
}

.info-container{
    width: 900px;
    margin: auto;
}

.msg-container{
    margin-top: 1rem;
    max-width: 94%;
    display:block;
    height: max-content;
    align-content: center;
}


.message{
    display:inline-block;
    max-width: 90%;
    align-self: center;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
    line-height: 1.5rem;
    height: max-content;
}

.no-message{
    display:inline-block;
    height: min-content;
    text-overflow: clip;
    line-height: 1.5rem;
    max-width: 90%;
    align-self: center;
    text-align: left;
    font-size: 1.5rem;
    color: #abad18;
}

.msg-title{
    display:inline-block;
    max-width: 10%;
    align-self: center;
    text-align: left;
    height: 0rem;
    font-size: 1rem;
    line-height: 0rem;
    color: rgb(226, 226, 226);
}


.NFTTitle{
    
    font-size:1rem;
    align-self: center;
    text-align: left;
    max-width: 94%;
    max-height: 0rem;
    text-shadow: 0px 0px 0.4rem rgb(255, 255, 255);
}

.nft-id{
    font-size: 1rem;
    text-align: left;
    max-width: 94%;
    margin:0;
    padding: 0;
    padding-top:0.3rem
}

.description{
    display:block;
    align-self: center;
    text-align: left;
    max-width: 94%;
    font-size: 1rem;
    color: rgb(226, 226, 226);
    padding:0;
    padding-top:0.3rem
}


.artist-container{
    display: inline-block;
    width: 50%;
    padding: 0;
    font-size: 1rem;
}

.owner-address{
    display:block;
    align-self: center;
    text-align: left;
    max-width: 94%;
    font-size: 1rem;
    color: rgb(226, 226, 226);
    padding:0;
}

.artist-title{
    display: inline-flex;
    padding:0;
    margin:0;
    align-self: center;
    width:max-content;
    text-align: left;
    font-size: 1rem;
}

.artist-name{
    display: inline-flex;
    padding:0;
    margin:0;
    align-self: center;
    max-width: 70%;
    text-align: left;
    font-size: 1rem;
}

.artist-link{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.royalty-container{
    display: block;
    width: 100%;
    font-size: 1rem;
}

.royalty{
    display: inline-block;
    width: max-content;
}

.royalty-value{
    text-align:start;
    display: inline-block;
    width: 70%
}

.link:visited,
.link:link{
    display:inline-flex;
    font-size: 0.75rem;
    text-align: center;
    color: white;
    padding:0;
    margin:0;
    
    min-width: 50%;
    max-width: 60%;
    text-decoration: none;
    transition: font-size 0.3s;
}

.link:hover,
.link:focus
.link:active{
    font-size: 0.95rem;
    color: rgb(97, 97, 252);
}

.clearfix{zoom: 1}
.clearfix.after{
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
}


.price{
    font-size: 2rem;
    margin-top: 0.5%;
    text-align: center;
    max-width: 94%;
    overflow: scroll;
    text-shadow: 0 0 0.2rem rgb(255, 255, 182);
}


.button-container{
    width: 94%;
}

.button{
    border-radius: 10px;
    border-style: hidden;
    padding: 5px 20px;
    font-size: 1.4rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    
    width:100%;
    background-color: #e9ec05;
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
    align-content: center;
    transition: all 0.3s;
}

.button:hover{
    color: blue;
    text-shadow: 0px 0px 5px green;
    transform: scale(1.04);
}

.button:active{
    text-shadow: 0px 0px 15px green;
    background-color: #fbff00;
}
.button-owned{
    margin-top:10px;
    border-style: hidden;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    background-color:#0000aa30;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    min-width: 80%;
    max-width:fit-content;
    color: green;
    text-shadow: 0px 0px 5px blue;
}

.justify-content-md-center{
    align-content: center;
}

.text-center{
    text-align: center;
    display:block;
    width: 94%;
}

.imageContainer{
    align-content: center;
    
}

.setMessage{
    margin: 0.4rem;
    padding: 2px 20px;
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(2, 68, 155);
    border-radius: 0.7rem;
    color: white;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width:100%;
}

.setPrice{
    margin: 0.4rem;
    padding: 2px 20px;
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(2, 68, 155);
    border-radius: 0.7rem;
    color: white;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width:100%;
}

.forsale-transfer-container{
    display: block;
    width:94%;
    margin: 0.4rem;
}

.for-sale-container{
    display: inline-block;
    width:50%;
}
.for-sale-label{
    display: inline-block;
    padding: 0.2rem;
    font-size: 1.3rem; 
    text-align: left;
    align-content: left;
    max-width: fit-content;
  }

  .check-for-sale{
      display: inline-block;
      padding-left:0.1rem;

  }

  .check-for-sale input{
    width: 20px;
    height: 20px;
}
.transfer-container{
    display: inline-block;
    width: 47%;
    
}

.transfer-button{
    padding: 0.2rem 0.5rem;
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(2, 68, 155);
    border-radius: 10px;
    color: white;
    border-style: hidden;
    margin-left: auto;
    margin-right: 15px;
    align-content: center;
    width:100%;
    display: block;
}
  .dont-show{
      display: none;
  }