.video-container{
    display: block;
    
    max-width: min-content;
    max-height: min-content;
    
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top:2vh;
    
}

.right-video-container{
    display: block;
    width:99%;
    width:auto;
    max-height: max-content;
    border-bottom-style: solid;
    border-color: #222;
    border-width: 3px;
}

.right-video-text{
    display: block;
    align-content: flex-end;
    text-align: justify;
    font-size: 0.9rem;
}


@media only screen and (min-width: 900px) {
    .video-container{
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        
    }

    .right-video-container{
        max-width:100%;
        margin:auto;
        max-height: 300px;
        min-height:fit-content;
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: [left] 65% [right] 35%;
    }

    .right-video-text{
        display: inline-block;
        align-content: flex-end;
        text-align: justify;
        max-width: 100%;
        font-size: 1vw;
        padding: 1.5vw;
        color: white;
    }

}