.wallet-language-container{
    display:block;
    width:max-content;
    padding: 0px;
    font-size: 0;
    margin-left:auto;
    margin-right: 3px;
    z-index: 1;
}

.wallet{
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: max-content;
    height: fit-content;
    display:inline-block;
    font-size: 5px;
    text-align: center;
    padding: 0px 2px;
    
    font-weight: bolder;
    background-color: blueviolet;
}

.wallet-button{
    background-color: #00000000;
    border:hidden;
    font-size: 13px;
    font-family:serif;
    
}

.connected{
    color: rgb(2, 175, 2);
    background-image: linear-gradient(rgb(3, 3, 184), rgb(3, 3, 70));
    
}
.not-connected{
    color: gray;
    background-image: linear-gradient(rgb(125, 125, 138), rgb(26, 26, 27));
}

.text{
    padding: 0px;
}


@media only screen and (min-width: 900px) {
    .wallet-language-container{
        display:block;
        width:max-content;
        padding: 0px;
        font-size: 0;
        margin-left:75vw;
        margin-right: auto;
        position: absolute;
    }

    .wallet{
        border-radius: 7px;
        border-style: solid;
        border-width: 2px;
        max-width: 30%;
        min-width:max-content;
        height: fit-content;
        display:inline-block;
        font-size: 5px;
        text-align: center;
        padding: 0px 2px;
        font-weight: bolder;
    }

    .wallet-button{
        background-color: #00000000;
        border:hidden;
        font-size: 13px;
        font-family:serif;
        
    }

    .connected{
        color: rgb(2, 175, 2);
        background-image: linear-gradient(rgb(3, 3, 184), rgb(3, 3, 70));
        
    }
    .not-connected{
        color: gray;
        background-image: linear-gradient(rgb(125, 125, 138), rgb(26, 26, 27));
    }

    .text{
        padding: 0px;
    }

    .app-network{
        display:inline-block;
        font-size: 1vw;
        width: min-content;
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        color: white;
        text-align:center;
        background-color: rgb(82, 160, 4);
        border-radius: 0.5vw;
    }

    .app-network.testnet{
        background-color: rgb(160, 118, 4);
    }

    .spacer{
        display:inline-block;
        font-size:2vw;
        line-height: 0%;
        color:black
    }
}